.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#matrix{
  height:100%;
  overflow: scroll;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

.line{ 
  height:50px;
}

.c{
  display: inline-block;
  width:50px;
  height:100%;
  cursor: pointer;
}

.c-white{
  background-color: #efefef;
}

.c-black{
  background-color: #000;
}

.c-highlight{
  background-color: #FF0000;
}